{% extends 'base.html' %}
{% load static %}
{% block title %} Главная страница {% endblock %}

{% block content %}
<div class="container main-page">
    <!-- Контент главной страницы -->
    {% if user.is_authenticated %}
    <section>
        <p>Добро пожаловать, {{user.name}}</p>
        {% else %}
        <p>
            Если вы желаете оставить заявку на решение проблемы -
            <a href="{% url 'register' %}"> зарегистрируйтесь или войдите.</a>
        </p>
        {% endif %}
        <hr>
    </section>


    <section class="info-block">
        <div class="info__text">
            <p>
                В последнее время проблем в городах становится все больше и больше. Не
                каждую проблему удается решить быстро, потому что компании ответственные
                за решение проблем не всегда знают о них.
                <br>

                Портал "Сделаем лучше вместе" создан для того, чтобы вы могли легко сообщить о проблеме и быть
                уверенными, что она будет решена. Управляющие компании получают все заявки через наш сайт и оперативно
                приступают к устранению неполадок.
                <br>
                Присоединяйтесь к нам и сделайте свой город лучше вместе!
            </p>
        </div>
        <div class="info__img">
            <img src="{% static 'images/logo-dark.png' %}" alt="logo"/>
        </div>
    </section>

    <section class="recent-problems">
        <h4 class="h4">Недавно решеные проблемы:</h4>

        <div class="solved-problems-list">

            {% if tickets %}
            {% for ticket in tickets %}
            <!-- карточка -->
            <div class="problem-card">
                <div class="card-img">
                    <!-- Отображаем фото "ДО" для всех заявок -->
                    {% for attachment in ticket.attachments.all %}
                    {% if attachment.type == 'BEFORE' %}
                    <img src="{{ attachment.photo.url }}" class="img" alt="фото до"/>
                    {% endif %}
                    {% endfor %}

                    <!-- Отображаем фото "После" только для заявок со статусом "Решена" -->
                    {% if ticket.status == 'SOLVED' %}
                    {% for attachment in ticket.attachments.all %}
                    {% if attachment.type == 'AFTER' %}
                    <img src="{{ attachment.photo.url }}" class="img-after" alt="фото после"/>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="card-body">
                    <h5 class="card-title">{{ ticket.title }}</h5>
                    <h5 class="card-catg">{{ ticket.category.name }}</h5>
                    <p class="card-text">
                        {{ ticket.description }}
                    </p>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="muted-page-msg">Заявок нет.</p>
            {% endif %}

        </div>
    </section>
</div>
{% endblock %}
