{% extends 'base.html' %} {% block title %} Главная страница {% endblock %}
{% block content %}
<div class="container main-page">
    <!-- Контент главной страницы -->

    {% if user.is_authenticated %}
    <p>Добро пожаловать, {{user.name}}</p>

    {% else %}
    <p>
        Если вы желаете оставить заявку на решение проблемы -
        <a href="{% url 'register' %}"> зарегистрируйтесь или войдите.</a>
    </p>

    {% endif %}

    <section class="recent-problems">
        <h4 class="h4">Недавно решеные проблемы:</h4>

        <div class="solved-problems-list">
            <!-- карточка -->
            <div class="problem-card">
                <div class="card-img">
                    <img src="./media/ticket1.jpg" class="img-before" alt="до"/>
                    <img src="./media/ticket1-solved.jpg" class="img-after" alt="после"/>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Дыра на дороге рядом со Школой 1</h5>
                    <h5 class="card-catg">Категория: Дорожные работы</h5>
                    <p class="card-text">
                        Дыра в дороге на улице рядом со школой. Опасно для детей.
                    </p>
                </div>
            </div>

            <div class="problem-card">
                <div class="card-img">
                    <img src="./media/ticket1.jpg" class="img-before" alt="до"/>
                    <img src="./media/ticket1-solved.jpg" class="img-after" alt="после"/>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Дыра на дороге рядом со Школой 1</h5>
                    <h5 class="card-catg">Категория: Дорожные работы</h5>
                    <p class="card-text">
                        Дыра в дороге на улице рядом со школой. Опасно для детей.
                    </p>
                </div>
            </div>

            <div class="problem-card">
                <div class="card-img">
                    <img src="./media/ticket1.jpg" class="img-before" alt="до"/>
                    <img src="./media/ticket1-solved.jpg" class="img-after" alt="после"/>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Дыра на дороге рядом со Школой 1</h5>
                    <h5 class="card-catg">Категория: Дорожные работы</h5>
                    <p class="card-text">
                        Дыра в дороге на улице рядом со школой. Опасно для детей.
                    </p>
                </div>
            </div>

            <div class="problem-card">
                <div class="card-img">
                    <img src="./media/ticket1.jpg" class="img-before" alt="до"/>
                    <img src="./media/ticket1-solved.jpg" class="img-after" alt="после"/>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Дыра на дороге рядом со Школой 1</h5>
                    <h5 class="card-catg">Категория: Дорожные работы</h5>
                    <p class="card-text">
                        Дыра в дороге на улице рядом со школой. Опасно для детей.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
