{% extends 'base.html' %}
{% block title %}
Личный кабинет {{user.name}}
{% endblock %}

{% block content %}
<div class="container profile-page">
    <!-- Контент профиля -->
    <section class="profile-header">
        <div class="profile-info">
            <p>{{ user.name }}</p>
            <!-- Имя пользователя -->
            <p>{{ user.email }}</p>
            <!-- Почта пользователя -->
        </div>
        <hr/>
    </section>

    <!-- ЕСЛИ АДМИН -->
    {% if user.is_staff %}
    <section class="profile-admin-catg">
        <h3 class="h3">Управление категориями:</h3>
        <div class="form-window">
            <!-- Форма добавления категории -->
            <form
                    action="{% url 'create-catg' %}"
                    method="post"
                    class="catg-form catg-add-form"
            >
                {% csrf_token %} {{ catg_form.name }}
                <button type="submit" class="btn catg-form__submit">
                    Добавить категорию
                </button>
            </form>

            <!--удаление-->
            <form
                    action="{% url 'delete-catg' %}"
                    method="post"
                    class="catg-form catg-delete-form"
            >
                {% csrf_token %}
                <select name="category_id">
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn catg-form__submit">
                    Удалить категорию
                </button>
            </form>
        </div>
    </section>
    {% endif %}

    <!-- Секция заявок -->
    <section class="tickets-sect">
        <div class="ticket-table-header">
            {% if user.is_staff %}
            <p>Все заявки. Количество заявок: {{ tickets.count }}</p>
            {% else %}
            <p>Количество ваших заявок: {{ tickets.count }}</p>
            {% endif %}
        </div>

        <div class="tickets-list">
            {% if tickets %}
            {% for ticket in tickets %}
            <div class="ticket-card {% if ticket.status == 'NEW' %}new-ticket{% elif ticket.status == 'DECLINED' %}declined-ticket{% elif ticket.status == 'SOLVED' %}solved-ticket{% endif %}">
                <div class="ticket-img">
                    {% for attachment in ticket.attachments.all %}
                    {% if attachment.type == 'BEFORE' %}
                    <img src="{{ attachment.photo.url }}" class="img cover-img " alt="фото до"/>
                    {% endif %}
                    {% endfor %}

                    <!-- Отображаем фото "После" только для заявок со статусом "Решена" -->
                    {% if ticket.status == 'SOLVED' %}
                    {% for attachment in ticket.attachments.all %}
                    {% if attachment.type == 'AFTER' %}
                    <img src="{{ attachment.photo.url }}" class="img-after cover-img " alt="фото после"/>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="ticket-body">
                    <!-- Ссылка на страницу деталей тикета -->
                    <a href="{% url 'ticket_detail' ticket.id %}">
                        <h5 class="ticket-body_title">{{ ticket.title }}</h5>
                    </a>
                    <p class="ticket__catg">Категория: {{ ticket.category.name }}</p>
                    <p class="ticket__descr">{{ ticket.description }}</p>
                    <p class="ticket__status">Статус: {{ ticket.get_status_display }}</p>
                </div>
                {% if ticket.status == 'NEW' and user.is_staff %}
                <div class="ticket-control">
                    <a href="{% url 'ticket_detail' ticket.id %}">
                        <button class="btn ticket__manage-btn"> Изменить статус</button>
                    </a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
            {% else %}
            <p class="muted-page-msg">Заявок нет.</p>
            {% endif %}
        </div>
    </section>
</div>
{% endblock %}
